<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dang ky</title>
  </head>
  <body>
    <form action="/xulydangky" id="formDangKy" method="post" enctype="multipart/form-data">
      <input type="text" name="username" placeholder="username"><br><br>
      <input type="password" name="password" placeholder="password"><br><br>
      <input type="text" name="email" placeholder="email"><br><br>
      <input type="file" name="avatar"><br><br>
      <input type="submit" name="name" value="Dang Ky"><br><br>
    </form>
  </body>
</html>
