<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Chat realtime</title>
        <script src="libs/react.js"></script>
        <script src="libs/react-dom.js"></script>
        <script src="libs/browser.min.js"></script>
        <script src="libs/jquery-3.1.0.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <!--  https://unpkg.com/babel-core@5.8.38/browser.min.js -->
        <script type="text/javascript">
            var daDangNhap = <%= daDangNhap%>;
            var socket = io('http://localhost:3000');
            $(document).ready(function() {
                $('#btnDangKy').click(function() {
                    $('#formDangKy').ajaxSubmit({

                        error: function(xhr) {
                            status('Error: ' + xhr.status);
                        },

                        success: function(response) {
                            console.log(response);
                        }
                    });
                    //Very important line, it disable the page refresh.
                    return false;
                });
            });
        </script>
    </head>
    <body>
        <div id="root"></div>
        <script type="text/babel" src="start.js"></script>
    </body>
</html>
